[Unit]
Description=Load balancing daemon
Documentation=https://gitlab.cern.ch/lb-experts/golbd https://gitlab.cern.ch/lb-experts/lbd
After=local-fs.target network-online.target
Requires=local-fs.target network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/golbd
ExecStart=/usr/sbin/golbd $GOLBD_OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
